.security__measures{
    display: flex;
    flex-direction: column;
    width: 100%;
    h2{
        text-align: center;
        font-size: 40px;
        background-color: #e78800;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    p{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
      
    }
}

.one{

    @include one-part;
   /* display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    border-bottom-style: dotted;
    border-left-style: dotted;
    margin-right: 150px;*/
}
.speed{
    display: flex;
    align-items: center;
    h2{
     @include number-security;
     
   /* display: flex;
    font-size: 150px;
    color: white;
    border-radius: 250px;
    background-color: #0017bd;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: 50px; */
    }
    img{
        width: 300px;
    }
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h4{
        text-align: center;
        color: #ad002e;
        font-weight: 800;
    }
    p{
        text-align: justify;
        box-shadow: -2px 4px 10px #dbdbff;
        padding: 10px;
    }
    img{
        width: 200px;
        padding-bottom: 20px;
    }
}
.two{
      @include two-part;
      
}
.station{
        display: flex;
        align-items: center;
        h2{
            @include number-security-2;
        }
      }

.page__index{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
        video{
             width: 100%;
        }
}