@mixin number-security{
    display: flex;
    font-size: 150px;
    color: white;
    border-radius: 250px;
    background-color: #001d87;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: 50px;
}
@mixin number-security-media{
    display: flex;
    font-size: 100px;
    color: white;
    border-radius: 250px;
    background-color: #001d87;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 200px;
    //align-items: center;
    margin: 50px;
    align-items: center;
}
@mixin number-security-2{
    display: flex;
    font-size: 150px;
    color: white;
    border-radius: 250px;
    background-color:#cb001c;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: 50px;
}
@mixin number-security-2-media{
    display: flex;
    font-size: 100px;
    color: white;
    border-radius: 250px;
    background-color:#cb001c;
    width: 200px;
    text-align: center;
    justify-content: center;
    height: 200px;
    //align-items: center;
    margin: 50px;
    align-items: center;
}
@mixin one-part{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: -6px 6px #eeeeff;
}
@mixin one-part-media{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 2px dashed;
    border-left: 2px dashed;
    margin-right: 10px;
    box-shadow:  -11px 11px 11px #e3e3e3;
}
@mixin two-part{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    //border-bottom: 2px dashed;
    //border-right: 2px dashed;
    margin-right: 150px;
    flex-direction: row-reverse;
     box-shadow: 6px 6px #eeeeff;
}
@mixin two-part-media{
    display: flex;
    flex-direction: columns;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
       border-bottom: 2px dashed;
    border-right: 2px dashed;
    margin-right: 10px;
    flex-direction: column;
    box-shadow: 11px 9px 11px #e3e3e3;
}